<head>
  <meta charset="utf-8">
</head>

<app-logout></app-logout>
<app-canvas (sendSignal)="pointFromCanvas($event)" [value]="points" [selectedRadius] = "radius"></app-canvas>

<form [formGroup]="pointForm">
  <div>
    <small *ngIf = !validateX(selectedValueX)>X - ERROR </small> <br/>
    <span>X_VALUE = </span>
    <input type="text" [(ngModel)]="selectedValueX"  formControlName="x" value="0">
  </div>

  <div>
    <small *ngIf = !validateY(selectedValueY)>Y - ERROR </small> <br/>
    <span>Y_VALUE = </span>
    <input type="text" [(ngModel)]="selectedValueY"  formControlName="y" value="0">
  </div>

  <div>
    <small *ngIf = !validateR(selectedValueR)>R - ERROR </small> <br/>
    <span>R_VALUE = </span>
    <input type="text" [(ngModel)]="selectedValueR"  formControlName="r" value="0">
  </div>

  <button [disabled]="pointForm.invalid || isNaN(selectedValueY)
  || !validateR(selectedValueR)
  || !validateY(selectedValueY)
  || !validateX(selectedValueX)" type="submit" (click)="sendNewPoint()">CHECK POINT</button>
</form>

<app-table [value]="points"></app-table>
